<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/styles.css" />
		<title>My Website</title>
	</head>
	<body>
		<header>
			<h1>My Website</h1>
			<p>Resize the browser window to see the effect</p>
		</header>
		<nav>
			<ul>
				<li><a href="#">Link</a></li>
				<li><a href="#" class="active">Link</a></li>
				<li><a href="#">Link</a></li>
				<li class="move-right"><a href="#">Link</a></li>
			</ul>
		</nav>

		<main>
			<div class="left-side">
				<article>
					<section>
						<h2 class="post-title">Title Heading</h2>
						<p class="post-description">
							Title description, Dec 7, 2017
						</p>
						<img src="../images/2855295.jpg" alt="" />
					</section>
					<section>
						<h2 class="post-title">Title Heading</h2>
						<p class="post-description">
							Title description, Dec 7, 2017
						</p>
						<img
							src="../images/mix-colors-grafitti-abstract-4k-lw.jpg"
							alt=""
						/>
					</section>
				</article>
			</div>
			<div class="right-side">
				<article>
					<section>
						<h2>About Me</h2>
						<img src="../images/ipad-abstract-5k-m2.jpg" alt="" />
						<p>
							Some text about me in culpa qui officia deserunt
							mollit anim
						</p>
					</section>
					<section class="popular-post">
						<h2>Popular Post</h2>
						<img
							src="../images/paint-liquid-splash-5k-2z.jpg"
							alt=""
						/>
						<img
							src="../images/orange-green-abstract-4k-jr.jpg"
							alt=""
						/>
						<img src="../images/paint-corrosion-4k-80.jpg" alt="" />
					</section>
				</article>
			</div>
		</main>
	</body>
</html>
